@import "/src/styles/global.scss";

.pixel-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 32.7%;
  height: 42.1vw;
  overflow: hidden;
  position: relative;

  @include forMobile() {
    width: 49.2%;
    height: 61vw;
  }

  .pixelize-canvas,
  &__bg.mobile {
    position: absolute;
    inset: 0;
  }

  canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include hover() {
    outline: 0.2vw solid;

    &:nth-of-type(4n + 1) {
      outline-color: $c-orange;
    }

    &:nth-of-type(4n + 2) {
      outline-color: $c-blue;
    }

    &:nth-of-type(4n + 3) {
      outline-color: $c-purple;
    }

    &:nth-of-type(4n + 4) {
      outline-color: $c-yellow;
    }

    canvas {
      width: 110%;
      height: 110%;
    }

    .pixel-card__logo {
      opacity: 1;
    }
  }

  &__logo {
    width: 66%;
    height: 10%;
    // position: absolute;
    // bottom: 4%;
    // left: 50%;
    // transform: translateX(-50%);
    position: relative;
    z-index: 3;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1.2vw;
    
    @include forHorizontalTablet {
      padding-block: 2vw;
    }
    
    @include forVerticalTablet {
      padding-block: 3vw;
    }
    
    @include forMobile {
      padding-block: 3vw;
    }

    &-image {
      object-position: center;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    &--text {
      height: auto !important;

      @include forVerticalTablet {
        display: none;
      }
      
      @include forMobile {
        display: none;
      }
    }
  }

  &__name {
    text-wrap: pretty;
    text-align: center;
  }
}

.mobile {
  &.pixel-card {
    outline: none !important;

    &__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__logo {
      opacity: 1;
      width: 90%;
      height: 16%;
    }
  }
}
