@import "/src/styles/global.scss";

.screenshots {
  @include grid();
  row-gap: 2vw;
  margin-top: VW(110);

  @include forTablet {
    margin-top: VW(80, $tablet);
  }

  @include forMobile {
    margin-top: VW(80, $mobile);
  }

  &--text {
    .screenshots__image-wrapper {
      grid-column: 5/13;

      @include forTablet {
        grid-column: 5/13;
      }

      @include forMobile {
        grid-column: 1/13;
      }
    }
  }

  &:nth-of-type(2) {
    @include forTablet {
      margin-top: 10vw;
    }

    @include forMobile {
      margin-top: 20vw;
    }
  }

  &__text {
    grid-column: 1/4;

    @include forDesktop {
      margin-top: 10vw;
    }

    @include forMobile {
      // margin-top: 4vw;
      grid-column: 1/13;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 105%;
    transform: translateY(0%);

    &-wrapper {
      grid-column: 3/11;
      width: VW(1195);
      height: VW(672);
      overflow: hidden;

      @include forTablet {
        grid-column: 3/11;
        width: VW(498, $tablet);
        height: VW(280, $tablet);
      }

      @include forMobile {
        grid-column: 1/13;
        width: 100%;
        height: 50vw;
        margin-top: 5vw;
      }
    }
  }
}

.works-trailer {
  position: relative;
  
  &--small {
    width: VW(1150);
    height: VW(650);
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin: VW(110) 0 VW(30);
    
    @include forTablet {
      margin-top: VW(80, $tablet) 0 VW(20, $tablet);
    }
  
    @include forMobile {
      margin-top: VW(80, $mobile) 0 VW(20, $mobile);
    }
  }

  &__play-btn {
    width: 100%;
    height: 100%;
    display: block;
    padding: VW(24) 0 VW(24) VW(3);

    @include forTablet {
      padding: VW(10, $tablet) 0;
    }

    @include forMobile {
      padding: VW(10, $mobile) 0;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      width: VW(120);
      height: VW(80);

      background-color: $w-100;
      border: 0.2vw solid $c-purple;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      transition: filter 0.4s ease;

      @include hover {
        filter: brightness(0.8);
      }

      @include forTablet {
        width: VW(88, $tablet);
        height: VW(50, $tablet);
      }

      @include forMobile {
        width: VW(77, $mobile);
        height: VW(44, $mobile);
      }
    }
  }
}

.small-video {
  .bottom {
    @include grid();
    margin-top: 3vw;
  }

  &__description {
    grid-column: 4/10;
  }
} 

.full-screenShot {
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center 50%;
  width: 100%;
  height: 100%;

  @include forDesktop {
    // background-attachment: fixed;
  }

  @include forMobile {
    background-size: cover;
  }
  
  &__wrapper {
    aspect-ratio: 16/9;
    margin-top: VW(110);
    position: relative;
    overflow: hidden;
    
    @include forTablet {
      margin-top: VW(80, $tablet);
    }

    @include forMobile {
      aspect-ratio: 3 / 3;
      margin-top: VW(80, $mobile);
    }
  }

  &__anim-wrapper {
    width: 100%;
    height: 100%;

    .lazyload-wrapper {
      width: 100%;
      height: 100%;
    }
  }

}
